*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: oldlace ;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'left-section middle-section right-section';
    grid-gap: 40px;
}

.left-section{
    background: url('Oluchi.jpg');
    background-size: cover;
    background-position: center;
    grid-area: left-section;
    border-radius: 40px;
    width: 50vh;
    height: 65vh;

}
.middle-section{
    grid-area: middle-section;
    background-color: mistyrose;
    border-radius: 10px;
}
h1,h3, h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    opacity: .9;
}
h1{
    opacity: .8;
    
    
}

header{
   padding: 20px 10px;
   text-align: center;
}
/*.head{
    margin-bottom: 0;
}
.header{
   margin: 0rem auto;
}*/
.statement{
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 3px;
    line-height: 100%
}

.right-section{
    padding: 20px 10px;
    grid-area: 'right-section';
    background-color: rgb(235, 180, 180);
    border-radius: 10px;

    
}

.heading{
    color: rgb(172, 43, 43);
}
.details{
    
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 3px;
    line-height: 100%
}

li{
    list-style: none;
    margin-bottom: 8px;
}
.sub-list{
    margin: 15px;
}
div .list{
    
}